{% extends "layout.html" %}

{% block title %}'s Login{% endblock %}
{% block main %}
    <p style="font-family:Garamond, serif; color:grey; font-size:25px; text-align:center; margin-top:50px">
        Welcome to Journal Express!
    </p>
    <div style="width:40%; margin:auto">
        <form action="/login" method="post">
            <!-- Prompt username -->
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <!-- Prompt password -->
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <p style="color:grey">{{ message }}</p> <!-- possible error messages displayed here-->
            <p style="font-family:Garamond, serif; color:grey; font-size:18px; ">
                If you don't have an account, <a href="/register">register here</a>.
            </p>
            <div class="input-group-append">
                <button class="btn btn-secondary" style="background-color:#7bb5b1; border:none; margin: 0 auto" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
